

.fetch-page-reject{

background: neon;
width: 100%;
padding: 15px;
margin: auto;
height: 100%;
}

.fetch-page-event{
background: #82E0AA;
width: 100%;

padding: 15px;

margin: auto;
height: 100%;
}

.fetch-page-new{
background: #9FD3DB;
width: 100%;

padding: 15px;

margin: auto;
height: 100%;
}

.fetch-page-sender{
background: #98D24D;
width: 100%;
padding: 15px;
margin: auto;
height: 100%;
}


